{% load crispy_forms_tags %}
{% extends "jobs/base.html" %}

{% block content %}
<div class="container mt-5">
    <h1>{{ job_description.job_title }}</h1>
    <p class="lead">Job Descriptions Management - Details</p>
    <hr>

    <div class="row mb-4">
        <div class="col-md-6">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>

    </div>
    <hr>

    <div class="actions d-flex justify-content-between align-items-center">
        <a href="{% url 'job_description_list' %}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Back to List
        </a>

        <div class="btn-group">
            <a href="{% url 'job_description_edit' job_description.id %}" class="btn btn-primary">
                <i class="fas fa-edit"></i> Edit
            </a>
            <a href="{% url 'job_description_delete' job_description.id %}" class="btn btn-danger">
                <i class="fas fa-trash"></i> Delete
            </a>
        </div>
    </div>
</div>
{% endblock %}
